<div class="task-item-container">
  <mat-toolbar>
    <h3 [ngClass]="this.done == true ? 'h3_strike' : ''">{{ task.title }}</h3>
    <span class="spacer"></span>
    <mat-icon class="task-icon"  (click)="toggleTaskComplete();$event.stopPropagation()" *ngIf="!done">check_box_outline_blank</mat-icon>
    <mat-icon class="task-icon"  (click)="toggleTaskUnComplete();$event.stopPropagation()" *ngIf="done">check_box</mat-icon>
    <mat-icon class="task-icon" (click)="deleteTask()">delete_outline</mat-icon>
    <mat-icon class="task-icon" (click)="editTask()">more_horiz</mat-icon>
  </mat-toolbar>
  <p>{{ task.description }}</p>
  <mat-icon id="task-flag">assignment</mat-icon>
</div>
