<mat-card class="features-card">
    <mat-card-header>
      <mat-card-title>Product Features</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
              <div class="feature-item">
                <h3 matLine>Feature 1: Task Creation</h3>
                <p matLine>Create and organize tasks with ease.</p>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="feature-item">
                <h3 matLine>Feature 2: Task Prioritization</h3>
                <p matLine>Set priorities and sort tasks for efficiency.</p>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="feature-item">
                <h3 matLine>Feature 3: Due Date Tracking</h3>
                <p matLine>Manage deadlines by tracking due dates.</p>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="feature-item">
                <h3 matLine>Feature 4: Task Assignment</h3>
                <p matLine>Assign tasks to team members and collaborators.</p>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="feature-item">
                <h3 matLine>Feature 5: Progress Monitoring</h3>
                <p matLine>Track and monitor task completion progress.</p>
              </div>
            </mat-list-item>
          </mat-list>
    </mat-card-content>
  </mat-card>
  
  <div class="landing-image">
    <img src="assets/images/5399986.jpg" alt="landing-image" />
  </div>