.login-container {
  margin-bottom: 50px;
  display: grid;
  padding-top: 5em;
  padding-left: 15em;
  height: auto;
  max-height: 500px;
  transition: height 1s ease-out;
}

.login-button {
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-flex;
    width: 30em;
    height: 3em;
    color: rgb(0, 0, 0);
    font-weight: 700;
    background-color: #fdfdfd;
    border: solid rgb(146, 146, 146) 2px;
    border-radius: 10px;
    cursor: pointer;
}

.social-icon{
    width: 5em;
    height: 5em;
}

p{
  font-size: small;
  padding-left: 0.5em;
}

.footer1{
  width: 26em;
}

.login-button:hover {
    background-color: #fafafa;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}

mat-toolbar{
  background-color: #ffffff;
}

mat-form-field{
  width: 26em;
}

#loginWithEmail{
  transition-duration: 2s;
}

.input-container {
  border: solid black 3px;

 display: contents;
}
